footer {

    position: relative;
    width: 100%;


    margin: 0 auto;
    margin-top: 10%;
    background: #F7D060;
}

.underline {
    text-decoration: underline;
    color: #FF6D60;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: black;


}