<footer>
    <div class="footer-container">
        <div class="row ">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <h1 class="underline">ABOUT </h1>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <h1 class="underline">CUSTOMER SERVICE </h1>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <h1 class="underline">FOLLOW US</h1>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="assets/picture/chat.png">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                What is camello ?
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                track you order
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 d-flex">
                <img src="assets/picture/insta.svg">
                <img src="assets/picture/facebook.svg">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                chat with us
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                contact us </div>
            <div class="col-sm-3 col-md-3 col-lg-3">


            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">

            </div>
        </div>
    </div>
</footer>