<mat-toolbar>
    <mat-toolbar-row>

        <a class="logo" routerLink="/Home">
            <img src="assets/picture/CM.svg" width="100%" alt="" loading="lazy" />
        </a>
        <mat-form-field>
            <mat-icon>search</mat-icon>
            <input matInput placeholder="Recherche">
        </mat-form-field>
        <div class="menu">
            <a routerLink="/Favorites">Favorites <img src="assets/picture/heart.svg"></a>

            <a routerLink="/Login">Login</a>
        </div>

        <div class="buy">
            <a routerLink="/buy"> <img src="assets/picture/panier.svg"></a>

        </div>




    </mat-toolbar-row>
</mat-toolbar>