<mat-toolbar>
    <mat-toolbar-row>

        <a class="logo" routerLink="/Home">
            <img src="assets/picture/CM.svg" width="100%" alt="" loading="lazy" />
        </a>
        <mat-form-field class="custom-form-field">
            <mat-icon>search</mat-icon>
            <input matInput class="custom-input" placeholder="Recherche">
        </mat-form-field>
        <div class="menu">
            <a routerLink="/Favorites">Favorites <img src="assets/picture/heart.svg"></a>

            <a data-bs-toggle="modal" data-bs-target="#myModal">Login</a>

        </div>

        <div class="buy">
            <a routerLink="/buy"> <img src="assets/picture/panier.svg"></a>

        </div>




    </mat-toolbar-row>
</mat-toolbar>