<app-navbar></app-navbar>
<app-toolbar></app-toolbar>
<div class="request-page">
    <div class="container">

        <div class="row ">
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
            <div class="col-sm-11 col-md-11 col-lg-11">
                <h1>Your Request</h1>
                <p>CaMello article has caught your eye and you'd like to make it your own by selecting different
                    materials,
                    colors,
                    adding a hand-sewn gold or platinum thread, or even having your initials affixed, our tailor-made
                    service can
                    make it happen. Simply let us know your personalization preferences, and we'll ensure that your item
                    is
                    customized to your exact specifications.</p>
            </div>
        </div>

        <div class="form">
            <div class="row ">
                <div class="col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">
                    <div class="yellow-container">
                        <button class="image-button right">
                            <img src="/assets/picture/contact.svg" alt="Button Image">
                        </button>
                        <h3>Your Contact Details</h3>
                        <button class="image-button left">
                            <img src="/assets/picture/next.svg" alt="next">
                        </button>
                    </div>


                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                </div>

            </div>
            <div class="row ">
                <div class="col-sm-1 col-md-1 col-lg-1">
                </div>
                
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <div class="yellow-container">
                            <button class="image-button right">
                                <img src="/assets/picture/contact.svg" alt="Button Image">
                            </button>
                            <h3>Message</h3>
                            <button class="image-button left">
                                <img src="/assets/picture/next.svg" alt="next">
                            </button>
                        </div>

                    </div>
               
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <button class="send">Send</button>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7">

                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <div class="yellow-container">
                            <button class="image-button right">
                                <img src="/assets/picture/contact.svg" alt="Button Image">
                            </button>
                            <h3>Your Item</h3>
                            <button class="image-button left">
                                <img src="/assets/picture/next.svg" alt="next">
                            </button>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                </div>
            </div>



        </div>
    </div>
</div>
<app-footer></app-footer>