.button {
    background-color: #FF6D60;
    border: none;
    color: #F7D060;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 1em;
    padding: 0.5em;
}


label {
    text-align: cebnter;
}

.submit {
    font-size: 1.5em;
    font-weight: 1em;
    padding: 0.5em;
    background-color: #FF6D60;
    border: none;
    color: #F7D060;
}