h1 {
    text-align: center;
}

.title-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
}

h2 {
    margin: 0 10px;
    font-size: 2em;
    font-weight: bold;
}