<div class="header-container">
    <img id="header-image" src="assets/picture/artisanat.png">

    <mat-toolbar class="header-toolbar">

        <mat-toolbar-row>

            <div class="menu">
                <a routerLink="/">All Our Products</a>
                <a routerLink="/">Home & Life </a>
                <a routerLink="/">fashion & Accessories </a>
                <a routerLink="/">Care & Beauty </a>
                <a routerLink="/">Stationary Store </a>
                <a routerLink="/">High Tech </a>
                <a routerLink="/">Personalize it </a>

            </div>



        </mat-toolbar-row>
    </mat-toolbar>
</div>