<app-navbar></app-navbar>
<app-toolbar></app-toolbar>
<div class="personalize-container">
    <div class="header">
        <h1>"Make it yours, make it unique: Customize your way to perfection."</h1>
        <p class="header-description">"Experience the magic of Moroccan artisana like never before by putting your own
            spin on it. With endless
            possibilities for customization, you can create a unique piece that reflects your style and personality.
            From intricate patterns to bold colors, the choice is yours - let your imagination run wild and bring your
            vision to life!"</p>
    </div>
    <div class="content">
        <div class="container">

            <div class="row ">
                <div class="col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">

                    <h2>CaMello make your wish come true: </h2>
                    <p class="description">
                        If you've got your eye on a CaMello item from our range of Belts,
                        Wallets,
                        Bags, or any other products, but you want to customize it with your preferred materials, colors,
                        threads, or
                        even add your initials, simply let us know your personalization preferences, and CaMello will
                        make
                        your
                        wish
                        come true!</p>
                    <h2>You and I Crafting Together:</h2>
                    <p class="description">
                        How about we team up and create something together? Would you be
                        interested in
                        making changes to a wallet such as adding an extra pocket or designing your dream coin? We can
                        apply
                        our
                        expertise to bring your creative ideas to life and make a one-of-a-kind piece just for you.
                    </p>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-5">

                    <img src="/assets/picture/personalize.png">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="submit" type="submit" routerLink="/request">TAILOR NOW !</button>
    </div>
</div>

<app-footer></app-footer>